<%- include('../partials/header.ejs') %>
<div class="container py-5">
  <h2>My Blogs</h2>

  <% if (blogs && blogs.length > 0) { %>
    <div class="row">

      <% blogs.forEach(blog => { %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm">

            <% if (blog.image) { %>
              <img src="/<%= blog.image %>" class="card-img-top">
            <% } %>

            <div class="card-body">
              <h5><%= blog.title %></h5>
              <p><%= blog.description %></p>
            </div>

          </div>
        </div>
      <% }) %>

    </div>
  <% } else { %>
    <p>No blogs found</p>
  <% } %>
</div>

<%- include('../partials/footer.ejs') %>